.container {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
}

.section {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
}

.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.app__header-logo {
  display: block;
  width: 5rem;
  height: auto;
}

.app__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.app__filters {
  margin-right: 1.5rem;
  padding: 1.25rem 0;
}

.app__filter {
  margin-bottom: 2.5rem;
  padding: 0 1.25rem;
}

.app__filter:last-child {
  margin-bottom: 0;
}

.app__filter--wide {
  padding: 0;
}

.app__filter-title {
  margin: 0;
  margin-bottom: 1rem;
}

.currency-toggle__row {
  margin-bottom: 0.5rem;
}

.currency-toggle__row:last-child {
  margin-bottom: 0;
}

.currency-toggle__btn {
  position: relative;
  display: inline-block;
  min-width: 5rem;
  padding: 0.9375rem 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #d2d5d6;
  background: none;
  color: #2196f3;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 0.25s;
}

.currency-toggle__btn:not(:first-child) {
  margin-left: -1px;
}

.currency-toggle__btn:first-child {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}

.currency-toggle__btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.currency-toggle__btn.active {
  z-index: 2;
  border-color: #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  cursor: default;
}

.currency-toggle__btn:not(.active):hover,
.currency-toggle__btn:not(.active):focus {
  z-index: 1;
  background-color: #f2fcff;
  border: 1px solid #64b5f5;
}

.stop-quantity__title {
  margin: 0;
  margin-bottom: 0.25rem;
  padding: 0 1.25rem;
}

.stop-quantity__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
}

.stop-quantity__item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.875rem 1.25rem;
  padding-left: 3.75rem;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

.stop-quantity__item-alone {
  font-size: 0.9rem;
  color: #2196f3;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
  opacity: 0;
}

.stop-quantity__item-alone:hover {
  text-decoration: underline;
}

.stop-quantity__item:hover,
.stop-quantity__item:focus {
  background-color: #f1fcff;
}

.stop-quantity__item:hover > .stop-quantity__item-alone,
.stop-quantity__item:focus > .stop-quantity__item-alone {
  opacity: 1;
}

.stop-quantity__item-checkbox {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #d2d5d6;
  border-radius: 0.1875rem;
}

.stop-quantity__item.active > .stop-quantity__item-checkbox {
  border-color: #2196f3;
  background-color: #f1fcff;
}

.stop-quantity__item.active > .stop-quantity__item-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.25rem;
  border: 2px solid #3e9ce8;
  border-top: none;
  border-right: none;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.app__tickets {
  flex-grow: 1;
}

.app__ticket {
  margin-bottom: 1.5rem;
}

.ticket {
  display: flex;
}

.ticket__buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17.5rem;
  padding: 2rem 1.5rem;
  border-right: 1px solid #eceff1;
}

.ticket__buy-company-logo {
  width: 10rem;
  height: 2.9rem;
  margin-bottom: 1.5rem;
}

.ticket__buy-company-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ticket__buy-btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.3em;
  color: #ffffff;
  border: none;
  border-radius: 0.3125rem;
  background-color: #ff6d00;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px #d64d08;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
  outline: none;
}

.ticket__buy-btn-cost {
  display: inline-block;
  width: 100%;
}

.ticket__buy-btn:hover,
.ticket__buy-btn:focus {
  background-color: #ff8124;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 1px 0px #f7661d;
}

.ticket__info {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
}

.ticket__info-departure,
.ticket__info-arrival {
  display: flex;
  flex-direction: column;
}

.ticket__info-departure {
  align-items: flex-start;
}

.ticket__info-arrival {
  align-items: flex-end;
}

.ticket__info-time {
  margin-bottom: 0.83rem;
  font-size: 2.65rem;
  line-height: 0.8125em;
}

.ticket__info-place,
.ticket__info-date {
  font-size: 1rem;
  line-height: 1.5em;
}

.ticket__info-place {
  font-weight: 600;
}

.ticket__info-date {
  color: #8b9497;
}

.ticket__info-transfer {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 8.125rem;
  min-height: 1.5rem;
  padding-right: 1em;
  padding-left: 1.8em;
  padding-bottom: 0.6em;
  font-size: 0.83rem;
  line-height: 1.2em;
  color: #8b9497;
  text-transform: uppercase;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d2d5d6;
}

.ticket__info-transfer svg {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(1px, -50%);
  display: block;
  width: 1.08rem;
  height: 1.08rem;
  color: #d2d5d6;
}
