* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", "Open Sans", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 400;
  color: #4a4a4a;
  background-color: #f3f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
